body {
  background: linear-gradient(to top, #d4c5ff 0%, #8a8eff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
  color: #fff;
}
.App {
  max-width: 800px;
  margin: 60px auto;
}
.App-header {
  margin: 50px 0;
}
.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 0 auto;
}
